<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <link rel="stylesheet" href="dist/dist.css" type="text/css" />
</head>
<body data-ng-cloak data-ng-app="UntitledApp" data-ng-controller="ApplicationController as UntitledApp">

<p>{{1 + 1}}</p>

<script src="bower_components/react/react-with-addons.min.js"></script>
<script src="bower_components/ngReact/ngReact.min.js"></script>
<script src="dist/dist.js"></script>
</body>
</html>